<!DOCTYPE html>
<html>
    <head>
        <title>Unit Converter</title>
    </head>
    <body>
        <h1>Unit Converter</h1>
        <form action="/main" method="POST">
            <p><input type="text" name="num" value="{{ num }}"> = <input type="text" value="{{ answer }}"></p>
            
            <label>Unit 1: </label>
            <select name="unit1">
                {% for item in OPTIONS %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select>

            <label>Unit 2: </label>
            <select name="unit2">
                {% for item in OPTIONS %}
                <option value="{{ item }}">{{ item }}</option>
                {% endfor %}
            </select><br><br>
            <input type="submit" value="Submit">
        </form>
        {% if unit1 == 'Select Unit' or unit2 == 'Select Unit' %}
            <p style="color: red;">Select a unit</p>
        {% elif not_number %}
            <p style="color: red;">Enter a number</p>
        {% elif different_type %}
            <p style="color: red;">Choose units of the same type</p>
        {% endif %}
    </body>
</html>