<!DOCTYPE html>
<html>
    <head>
        <title>Unit Converter</title>
    </head>
    <body>
        <h1>Unit Converter</h1>
        {% if type == 'length' or not type %}
            <form action="/get_type" method="POST">
                <label for="type">Type of unit:</label>
                <select name="type" id="type">
                    <option value="length">Length</option>
                    <option value="area">Area</option>
                    <option value="mass">Mass</option>
                    <option value="pressure">Pressure</option>
                    <option value="temperature">Temperature</option>
                    <option value="time">Time</option>
                    <option value="volume">Volume</option>
                    <option value="speed">Speed</option>
                    <option value="energy">Energy</option>
                </select>
                <input type="submit" value="Choose">
            </form>
        {% elif type == 'area' %}
            <form action="/get_type" method="POST">
                <label for="type">Type of unit:</label>
                <select name="type" id="type">
                    <option value="area">Area</option>
                    <option value="length">Length</option>
                    <option value="mass">Mass</option>
                    <option value="pressure">Pressure</option>
                    <option value="temperature">Temperature</option>
                    <option value="time">Time</option>
                    <option value="volume">Volume</option>
                    <option value="speed">Speed</option>
                    <option value="energy">Energy</option>
                </select>
                <input type="submit" value="Choose">
            </form>
        {% elif type == 'mass' %}
            <form action="/get_type" method="POST">
                <label for="type">Type of unit:</label>
                <select name="type" id="type">
                    <option value="mass">Mass</option>
                    <option value="length">Length</option>
                    <option value="area">Area</option>
                    <option value="pressure">Pressure</option>
                    <option value="temperature">Temperature</option>
                    <option value="time">Time</option>
                    <option value="volume">Volume</option>
                    <option value="speed">Speed</option>
                    <option value="energy">Energy</option>
                </select>
                <input type="submit" value="Choose">
            </form>
        {% elif type == 'pressure' %}
            <form action="/get_type" method="POST">
                <label for="type">Type of unit:</label>
                <select name="type" id="type">
                    <option value="pressure">Pressure</option>
                    <option value="length">Length</option>
                    <option value="area">Area</option>
                    <option value="mass">Mass</option>
                    <option value="temperature">Temperature</option>
                    <option value="time">Time</option>
                    <option value="volume">Volume</option>
                    <option value="speed">Speed</option>
                    <option value="energy">Energy</option>
                </select>
                <input type="submit" value="Choose">
            </form>
        {% elif type == 'temperature' %}
            <form action="/get_type" method="POST">
                <label for="type">Type of unit:</label>
                <select name="type" id="type">
                    <option value="temperature">Temperature</option>
                    <option value="length">Length</option>
                    <option value="area">Area</option>
                    <option value="mass">Mass</option>
                    <option value="pressure">Pressure</option>
                    <option value="time">Time</option>
                    <option value="volume">Volume</option>
                    <option value="speed">Speed</option>
                    <option value="energy">Energy</option>
                </select>
                <input type="submit" value="Choose">
            </form>
        {% elif type == 'time' %}
            <form action="/get_type" method="POST">
                <label for="type">Type of unit:</label>
                <select name="type" id="type">
                    <option value="time">Time</option>
                    <option value="length">Length</option>
                    <option value="area">Area</option>
                    <option value="mass">Mass</option>
                    <option value="pressure">Pressure</option>
                    <option value="temperature">Temperature</option>
                    <option value="volume">Volume</option>
                    <option value="speed">Speed</option>
                    <option value="energy">Energy</option>
                </select>
                <input type="submit" value="Choose">
            </form>
        {% elif type == 'volume' %}
            <form action="/get_type" method="POST">
                <label for="type">Type of unit:</label>
                <select name="type" id="type">
                    <option value="volume">Volume</option>
                    <option value="length">Length</option>
                    <option value="area">Area</option>
                    <option value="mass">Mass</option>
                    <option value="pressure">Pressure</option>
                    <option value="temperature">Temperature</option>
                    <option value="time">Time</option>
                    <option value="speed">Speed</option>
                    <option value="energy">Energy</option>
                </select>
                <input type="submit" value="Choose">
            </form>
        {% elif type == 'speed' %}
            <form action="/get_type" method="POST">
                <label for="type">Type of unit:</label>
                <select name="type" id="type">
                    <option value="speed">Speed</option>
                    <option value="length">Length</option>
                    <option value="area">Area</option>
                    <option value="mass">Mass</option>
                    <option value="pressure">Pressure</option>
                    <option value="temperature">Temperature</option>
                    <option value="time">Time</option>
                    <option value="volume">Volume</option>
                    <option value="energy">Energy</option>
                </select>
                <input type="submit" value="Choose">
            </form>
        {% elif type == 'energy' %}
            <form action="/get_type" method="POST">
                <label for="type">Type of unit:</label>
                <select name="type" id="type">
                    <option value="energy">Energy</option>
                    <option value="length">Length</option>
                    <option value="area">Area</option>
                    <option value="mass">Mass</option>
                    <option value="pressure">Pressure</option>
                    <option value="temperature">Temperature</option>
                    <option value="time">Time</option>
                    <option value="volume">Volume</option>
                    <option value="speed">Speed</option>
                </select>
                <input type="submit" value="Choose">
            </form>
        {% endif %}
        <form action="/main" method="POST">
            <p><input type="text" name="num" value="{{ num }}"> = <input type="text" value="{{ answer }}"></p>

            {% if type == 'length' %}
                <label for="unit1">Unit 1:</label>
                <select name="unit1" id="unit1">
                    <option value="km">Kilometer</option>
                    <option value="m">Meter</option>
                    <option value="cm">Centimeter</option>
                    <option value="mm">Milimetre</option>
                    <option value="mile">Mile</option>
                    <option value="inch">Inch</option>
                    <option value="foot">Foot</option>
                    <option value="yard">Yard</option>
                </select>
                <label for="unit2">Unit 2:</label>
                <select name="unit2" id="unit2">
                    <option value="km">Kilometer</option>
                    <option value="m">Meter</option>
                    <option value="cm">Centimeter</option>
                    <option value="mm">Milimetre</option>
                    <option value="mile">Mile</option>
                    <option value="inch">Inch</option>
                    <option value="foot">Foot</option>
                    <option value="yard">Yard</option>
                </select><br><br>
            {% elif type == 'area' %}
                <label for="unit1">Unit 1:</label>
                <select name="unit1" id="unit1">
                    <option value="hec">Hectare</option>
                    <option value="sm">Square Meter</option>
                </select>   
                <label for="unit2">Unit 2:</label>
                <select name="unit2" id="unit2">
                    <option value="hec">Hectare</option>
                    <option value="sm">Square Meter</option>
                </select><br><br>
            {% elif type == 'mass' %}
                <label for="unit1">Unit 1:</label>
                <select name="unit1" id="unit1">
                    <option value="kg">Kilogram</option>
                    <option value="g">Gram</option>
                    <option value="mg">Miligram</option>
                    <option value="pounds">Pounds</option>
                    <option value="ounces">Ounces</option>
                    <option value="tonne">Tonne</option>
                </select>
                <label for="unit2">Unit 2:</label>
                <select name="unit2" id="unit2">
                    <option value="kg">Kilogram</option>
                    <option value="g">Gram</option>
                    <option value="mg">Miligram</option>
                    <option value="pounds">Pounds</option>
                    <option value="ounces">Ounces</option>
                    <option value="tonne">Tonne</option>
                </select><br><br>
            {% elif type == 'pressure' %}
                <label for="unit1">Unit 1:</label>
                <select name="unit1" id="unit1">
                    <option value="atm">Atmosphere</option>
                    <option value="pa">Pascal</option>
                    <option value="mmHg">mmHg</option>
                </select>
                <label for="unit2">Unit 2:</label>
                <select name="unit2" id="unit2">
                    <option value="atm">Atmosphere</option>
                    <option value="pa">Pascal</option>
                    <option value="mmHg">mmHg</option>
                </select><br><br>
            {% elif type == 'temperature' %}
                <label for="unit1">Unit 1:</label>
                <select name="unit1" id="unit1">
                    <option value="c">Celcius</option>
                    <option value="f">Fahrenheit</option>
                    <option value="k">Kelvin</option>
                </select>
                <label for="unit2">Unit 2:</label>
                <select name="unit2" id="unit2">
                    <option value="c">Celcius</option>
                    <option value="f">Fahrenheit</option>
                    <option value="k">Kelvin</option>
                </select><br><br>
            {% elif type == 'time' %}
                <label for="unit1">Unit 1:</label>
                <select name="unit1" id="unit1">
                    <option value="h">Hour</option>
                    <option value="min">Minute</option>
                    <option value="s">Second</option>
                    <option value="mls">Milisecond</option>
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                </select>
                <label for="unit2">Unit 2:</label>
                <select name="unit2" id="unit2">
                    <option value="h">Hour</option>
                    <option value="min">Minute</option>
                    <option value="s">Second</option>
                    <option value="mls">Milisecond</option>
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                </select><br><br>
            {% elif type == 'volume' %}
                <label for="unit1">Unit 1:</label>
                <select name="unit1" id="unit1">
                    <option value="l">Liter</option>
                    <option value="ml">Mililiter</option>
                    <option value="gallon">Gallon</option>
                    <option value="cm">Cubic Meter</option>
                </select>
                <label for="unit2">Unit 2:</label>
                <select name="unit2" id="unit2">
                    <option value="l">Liter</option>
                    <option value="ml">Mililiter</option>
                    <option value="gallon">Gallon</option>
                    <option value="cm">Cubic Meter</option>
                </select><br><br>
            {% elif type == 'speed' %}
                <label for="unit1">Unit 1:</label>
                <select name="unit1" id="unit1">
                    <option value="ms">Meter per Second</option>
                    <option value="kh">Kilometer per Hour</option>
                    <option value="mileh">Mile per Hour</option>
                </select>
                <label for="unit2">Unit 2:</label>
                <select name="unit2" id="unit2">
                    <option value="ms">Meter per Second</option>
                    <option value="kh">Kilometer per Hour</option>
                    <option value="mileh">Mile per Hour</option>
                </select><br><br>
            {% elif type == 'energy' %}
                <label for="unit1">Unit 1:</label>
                <select name="unit1" id="unit1">
                    <option value="cal">Calories</option>
                    <option value="j">Joules</option>
                    <option value="wh">Watt per Hour</option>
                </select>
                <label for="unit2">Unit 2:</label>
                <select name="unit2" id="unit2">
                    <option value="cal">Calories</option>
                    <option value="j">Joules</option>
                    <option value="wh">Watt per Hour</option>
                </select><br><br>
            {% endif %}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>